<app-post-item [postContent]="postContent" (addComment)="toggleComment()">
    <ng-container *ngIf="showComment">
        <hr>
        <div class="img-upload custom-card flex align-items-center justify-content-center" *ngIf="commentImg">
            <p-button icon="pi pi-times" styleClass="p-button-text " class="remove-btn"
                (click)="removeImg()"></p-button>
            <p-image [src]="commentImg" alt="Image" width="100%"></p-image>
        </div>
        <div class="comment-area p-2 border-solid border-1 border-round-sm border-500 mb-2">
            <textarea class="w-full border-none p-0 cmt-input" pInputTextarea placeholder="Add Comment"
                style="resize: none;" [(ngModel)]="commentText"></textarea>
            <div class="flex justify-content-between">
                <input type="file" style="display: none;" #imageInput (change)="handleInput($event)">
                <i class="pi pi-camera" (click)="openCamera()"></i>
                <label (click)="savePost()" *ngIf="commentImg ||commentText ">post</label>
            </div>
        </div>
        <div class="text-right mb-2">
            <a href="javascript:void(0)" *ngIf="removeCount > 0" class="no-underline text-color"
                (click)="showAllComment()">
                See More Commnet
            </a>
        </div>
        <div class="comment-list">
            <!-- {{postContent.comment }} -->
            <app-comment-item *ngFor="let comment of postContent.comment | slicePipe : removeCount"
                [postComment]="comment"></app-comment-item>
        </div>
    </ng-container>
</app-post-item>