<app-post-item [postContent]="postContent" (addComment)="toggleComment()">
    <ng-container *ngIf="showComment">
        <hr>
        <div class="comment-area p-2 border-solid border-1 border-round-sm border-500 mb-2">
            <textarea class="w-full border-none p-0 cmt-input" pInputTextarea placeholder="Add Comment"
                style="resize: none;" [(ngModel)]="comment"></textarea>
            <div class="flex justify-content-between">
                <i class="pi pi-camera"></i>
                <button [hidden]="!comment" (click)="commentPost(comment)" class="border-none text-blue-500 bg-white">Post</button>
            </div>
        </div>
        <div class="text-right mb-2">
            <a href="javascript:void(0)" class="no-underline text-color">
                See More Commnet
            </a>
        </div>
        <div class="comment-list">
            <app-comment-item></app-comment-item>
        </div>
    </ng-container>
</app-post-item>
