<p-card [style]="{ width: '360px' }" styleClass="post text-xs">
    <ng-template pTemplate="header">
        <app-user-profile-icon [fullname]="postContent.user?.name || ''"
            [imgUrl]="postContent.user?.profile_img || ''"></app-user-profile-icon>
    </ng-template>
    <p-carousel [value]="postObj.imgs"[numVisible]="1" [numScroll]="1" [showIndicators]="true" [showNavigators]="false"
        [circular]="true">
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="">
                        <img [src]="product"
                            class="product-image w-full shadow-2 h-25rem" />
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-between mt-2 post-react">
            <div class="react-post flex gap-2">
                <i class="pi {{ (postContent.like | checkReact) ? 'pi-heart-fill text-red-500' : 'pi-heart'}}"
                    (click)="toggleReaction(type.LIKE ,$event)"></i>
                <i class="pi pi-comment" (click)="openComment()"></i>
                <i class="pi pi-send" (click)="toggleReaction(type.SHARE ,$event)"></i>
            </div>
            <div class="save-post">
                <i class="pi {{ (postContent.fav | checkReact) ? 'pi-bookmark-fill text-yellow-500' : 'pi-bookmark'}}"
                    (click)="toggleReaction(type.FAV ,$event)"></i>
            </div>
        </div>
        <p class="text-xs" appSeeMore [innerText]="postObj.text"></p>

    </ng-template>
</p-card>