<p-card [style]="{ width: '360px' }" styleClass="post">
    <ng-template pTemplate="header">
        <app-user-profile-icon [fullname]="postContent.user?.name || ''" [imgUrl]="postContent.user?.profile_img || ''"></app-user-profile-icon>
    </ng-template>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of postContent.imgs" class="slide">
            <div class="product-item w-full">
                <div class="product-item-content">
                    <div class="">
                        <img src={{slide}} class="product-image w-full shadow-2" />
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-between mt-2 post-react">
            <div class="react-post flex gap-2">
                <i class="pi {{ (postContent.like | checkReact) ? 'pi-heart-fill text-red-500' : 'pi-heart'}}"
                    (click)="toggleReaction(type.LIKE)"></i>
                <i class="pi pi-comment"></i>
                <i class="pi pi-send" (click)="toggleReaction(type.SHARE)"></i>
            </div>
            <div class="save-post">
                <i class="pi {{ (postContent.fav | checkReact) ? 'pi-bookmark-fill text-yellow-500' : 'pi-bookmark'}}"
                    (click)="toggleReaction(type.FAV)"></i>
            </div>
        </div>
        <p class="text-xs" appSeeMore [innerText]="postContent.text"></p>
    </ng-template>
</p-card>