<p-card [style]="{ width: '360px' }" styleClass="post">
    <ng-template pTemplate="header">
        <app-user-profile-icon></app-user-profile-icon>
    </ng-template>
    <p-carousel [value]="postContent.imgs" [numVisible]="1" [numScroll]="1" [showIndicators]="true" [showNavigators]="false"
        [circular]="true">
        <ng-template let-product pTemplate="item" >
            <div class="product-item">
                <div class="product-item-content">
                    <div class="" >
                        <img src={{product}}
                            class="product-image w-full shadow-2" />
                    </div>
                </div>
            </div>
        </ng-template>

    </p-carousel>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-between mt-2 post-react">
            <div class="react-post flex gap-2">
                <i class="pi pi-heart"></i>
                <i class="pi pi-comment"></i>
                <i class="pi pi-send"></i>
            </div>
            <div class="save-post">
                <i class="pi pi-bookmark"></i>
            </div>
        </div>
        <p class="text-xs" appSeeMore [innerText]="postContent.text"></p>
    </ng-template>
</p-card>