<p-orderList [value]="products" [listStyle]="{ 'flex': 'auto' }" header="Friends" filterBy="name"
    filterPlaceholder="Filter by name" class="friends-list">
    <ng-template let-product pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
            <img class="w-3rem h-3rem shadow-2 flex-shrink-0 border-circle"
                src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" alt="{item.name}" />
            <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ product.name }}</span>
            </div>
        </div>
    </ng-template>
</p-orderList>