<nav class="surface-section py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static border-bottom-1 surface-border"
    style="min-height: 84px">
    <img src="assets/imgs/bastion-700.svg" alt="Image" height="40" class="mr-0 lg:mr-6" /><a pripple=""
        pstyleclass="@next" enterclass="hidden" leavetoclass="hidden"
        class="p-ripple p-element cursor-pointer block lg:hidden text-600">
        <i class="pi pi-bars text-4xl"></i>
        <span class="p-ink"></span>
    </a>
    <div
        class="align-items-center flex-grow-1 hidden lg:flex absolute lg:static w-full surface-section left-0 top-100 z-1 shadow-2 lg:shadow-none border-1 lg:border-none surface-border justify-content-end">
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row ">
            <li class="mr-2">
                <p-button icon="pi pi-user-plus" styleClass="p-button-rounded p-button-info p-button-text p-button-sm "
                    class="nav-icon"></p-button>

            </li>
            <li class="mr-4">
                <p-button icon="pi pi-bell" styleClass="p-button-rounded p-button-warning p-button-text p-button-sm "
                    class="nav-icon"></p-button>
            </li>
            <li>
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle"></p-avatar>
            </li>
        </ul>

    </div>
</nav>