<div class="flex gap-2 text-xs">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        styleClass="profile-img" shape="circle" class="text-center"></p-avatar>
    <div class="comment-item flex-auto">
        <label for="" class="profile-text text-sm">
            Testing User
        </label>
        <div class="text-xs" appSeeMore>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus exercitationem impedit
            natus ex iusto laborum eveniet numquam autem accusamus quasi. Voluptates illo itaque officiis!
            Beatae, hic dolores? Quae, placeat omnis?
        </div>
    </div>

</div>