<div class="flex gap-2 text-xs mb-2">
    <p-avatar [image]="postComment.user.profile_img" styleClass="profile-img" shape="circle"
        class="text-center"></p-avatar>
    <div class="comment-item flex-auto">
        <label for="" class="profile-text text-sm">
            {{postComment.user.name}}
        </label>
        <div class="text-xs" appSeeMore>
            {{postComment.comment}}
        </div>
        <div *ngIf="postComment.img" class="img-upload custom-card flex align-items-center justify-content-center">
            <p-image [src]="postComment.img" alt="Image" width="100%"></p-image>
        </div>
    </div>

</div>
